/* STYLES */

/* Troubleshooting Styles */
div, nav, span, img, h1, h2, h3, footer {
  border: 1px solid black;
}

/* Universal Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Nav Styles */
.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  background-color: white;
}

.nav-desktop .main-logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 2rem;
}

.nav-desktop .main-logo img {
  height: 3.25rem;
}

.nav-desktop .main-logo .colmar {
  color: rgb(77,77,77);
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

.nav-desktop .main-logo .academy {
  color: rgb(179,179,179);
  font-family: 'Kanit', sans-serif;
}

.nav-desktop .navbar ul {
  display: flex;
  margin-right: 1.5rem;
}

.nav-desktop .navbar ul li {
  padding-left: 1rem;
}

.nav-desktop .navbar ul li a {
  color: rgb(77,77,77);
  font-size: 1.25rem;
  text-decoration: none;
}

.nav-mobile {
  display: none;
}

@media only screen and (max-width: 470px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4rem;
    background-color: white;
  }
}

/* Banner Styles */
.banner {
  display: flex;
  background-color: rgb(230,230,230);
  padding-top: 4rem;
}

.banner-image {
  margin: 2rem 1.5rem;
  width: 60%;
}

.banner-image img {
  width: 100%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.banner-text a {
  text-decoration: none;
  color: white;
}

.banner-text span {
  margin: 1rem 0;
}

.banner-text .heading1 {
  font-size: 4rem;
  color: rgb(77,77,77);
  font-weight: bold;
  line-height: 5.25rem;
}

.banner-text .heading2 {
  font-size: 2rem;
  color: rgb(77,77,77);
  font-weight: 500;
  line-height: 3.25rem;
}

.banner-button {
  margin: 1rem 0;
  padding: .5rem 0;
  font-size: 2rem;
  background-color: rgb(77,77,77);
  text-align: center;
}

@media only screen and (max-width: 470px) {
  .banner {
    display: block;
    width: 100%;
  }
  .banner-text span {
    margin: 0;
    display: block;
  }
  .banner-text a {
    display: block;
  }
  .banner-image {
    width: 100%;
    margin: 0;
  }
  .banner-text {
    display: block;
    width: 100%;
  }
  .banner-text .heading1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
  }
  .banner-text .heading2 {
    font-size: 1.75rem;
    color: rgb(77,77,77);
    font-weight: 500;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
  }
  .banner-button {
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 0;
    font-size: 1.5rem;
    background-color: rgb(153,153,153);
    text-align: center;
  }
}

/* Information Styles */
.main-info {
  display: flex;
}

.info-left {
  width: 69%;
}

.info-image {
  margin: 2rem 1.5rem;
}

.info-image img {
  width: 100%;
}

.info-text {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 1.5rem;
}

.info-text .heading {
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(77,77,77);
  padding-bottom: 1.5rem;
}

.info-text .quote {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(140,140,140);
  line-height: 2.25rem;
}

.info-text .signed {
  font-size: 1.25rem;
  color: rgb(77,77,77);
  padding: 2rem 0;
}

.info-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.infoblock {
  display: flex;
  align-items: flex-start;
}

.infoblock img {
  width: 35%;
  height: auto;
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.infoblock .info {
  width: 65%;
}

.infoblock.lecture {
  background-color: rgb(230,230,230);
}

.infoblock.lecture .info .title {
  background-color: rgb(230,230,230);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.info .title {
  font-size: 2rem;
  color: rgb(77,77,77);
  font-weight: bold;
  padding-bottom: .5rem;
  padding-left: 0;
}

.info .content {
  font-size: 1.25rem;
  font-weight: 300;
  color: rgb(140,140,140);
  padding-bottom: .5rem;
  line-height: 2.25rem;
}

.info .readmore a {
  font-size: 1.25rem;
  font-weight: 300;
  text-decoration: none;
  color: rgb(153,153,255);
}

@media only screen and (max-width: 470px) {
  .info-left {
    display: none;
  }
}

/* Start Learning Styles */
.start-learning {
  display: flex;
  flex-direction: column;
  background-color: rgb(230,230,230);
  padding-bottom: 2rem;
}

.start-learning .start {
  align-self: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(77,77,77);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.main-courses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.row1 {
  display: flex;
  margin-bottom: 2rem;
}

.row2 {
  display: flex;
}

.coursesblock {
  background-color: white;
  width: 100%;
}

.coursesblock-center {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: white;
  width: 100%;
}

.course-image {
  width: 100%;
}

.title {
  font-size: 1.75rem;
  color: rgb(77,77,77);
  font-weight: bold;
  background-color: white;
  padding-left: 1rem;
  padding-top: 1rem;
}

.courses {
  font-size: 1.25rem;
  font-weight: 300;
  color: rgb(140,140,140);
  background-color: white;
  padding-left: 1rem;
  padding-top: .5rem;
}

.coursenames {
  font-size: 1.25rem;
  font-weight: 300;
  color: rgb(140,140,140);
  background-color: white;
  line-height: 1.75rem;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}

/* Start Thesis Styles */
.thesis-exhibit {
  display: flex;
  flex-direction: column;
}

.thesis-title {
  align-self: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(77,77,77);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.exhibits {
  display: flex;
}

.exhibits-left {
  width: 60%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.exhibits-left video {
  width: 100%;
}

.exhibit-title {
  font-size: 1.75rem;
  color: rgb(77,77,77);
  font-weight: bold;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

.exhibit-description {
  font-size: 1.25rem;
  font-weight: 300;
  color: rgb(140,140,140);
  line-height: 2rem;
  margin-bottom: 2rem;
}

.exhibit {
  display: flex;
}

.exhibit.top {
  background-color: rgb(230,230,230)
}

.exhibit img {
  margin: 1rem;
  width: 35%;
  height: auto;
}

.exhibit-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Start Footer Styes */
footer {
  display: flex;
  justify-content: space-between;
  color: rgb(140,140,140);
  padding: 1rem 3rem 1.5rem 1.5rem;
  border-top: solid 1px rgb(230,230,230);
}

.terms a {
  padding-left: 1rem;
  text-decoration: none;
  color: rgb(140,140,140);
}
